<div class="row">
  <div class="col-md-3"><label for="{{- context -}}BankDetailsBankName" class="form-label">Банк</label></div>
  <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}BankDetailsBankName" name="{{- context -}}BankDetailsBankName"></div>
</div>
<div class="row">
  <div class="col-md-3"><label for="{{- context -}}BankDetailsBik" class="form-label">БИК</label></div>
  <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}BankDetailsBik" name="{{- context -}}BankDetailsBik"></div>
</div>
<div class="row">
  <div class="col-md-3"><label for="{{- context -}}BankDetailsCorrespondentAccount" class="form-label">К/счёт</label></div>
  <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}BankDetailsCorrespondentAccount" name="{{- context -}}BankDetailsCorrespondentAccount"></div>
</div>
<div class="row">
  <div class="col-md-3"><label for="{{- context -}}BankDetailsCurrentAccount" class="form-label">Р/счёт</label></div>
  <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}BankDetailsCurrentAccount" name="{{- context -}}BankDetailsCurrentAccount"></div>
</div>
