<div class="row">
  <div class="col-md-3"><label for="{{- context -}}{{- organizationType|ucfirst -}}BankName" class="form-label">Банк</label></div>
  <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}{{- organizationType|ucfirst -}}BankName" name="{{- context -}}{{- organizationType|ucfirst -}}BankName"></div>
</div>
<div class="row">
  <div class="col-md-3"><label for="{{- context -}}{{- organizationType|ucfirst -}}Bik" class="form-label">БИК</label></div>
  <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}{{- organizationType|ucfirst -}}Bik" name="{{- context -}}{{- organizationType|ucfirst -}}Bik"></div>
</div>
<div class="row">
  <div class="col-md-3"><label for="{{- context -}}{{- organizationType|ucfirst -}}CorrespondentAccount" class="form-label">К/счёт</label></div>
  <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}{{- organizationType|ucfirst -}}CorrespondentAccount" name="{{- context -}}{{- organizationType|ucfirst -}}CorrespondentAccount"></div>
</div>
<div class="row">
  <div class="col-md-3"><label for="{{- context -}}{{- organizationType|ucfirst -}}CurrentAccount" class="form-label">Р/счёт</label></div>
  <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}{{- organizationType|ucfirst -}}CurrentAccount" name="{{- context -}}{{- organizationType|ucfirst -}}CurrentAccount"></div>
</div>
