<tr data-id="{{ burialViewListItem.id }}">
  <td>{{- burialViewListItem.deceasedNaturalPersonFullName -}}</td>
  <td class="text-end">
    {{- burialViewListItem.code -}}
  </td>
  <td>{{- burialViewListItem.deceasedNaturalPersonBornAt is empty ? '' : burialViewListItem.deceasedNaturalPersonBornAt|date('d.m.Y') -}}</td>
  <td>{{- burialViewListItem.deceasedDiedAt              is empty ? '' : burialViewListItem.deceasedDiedAt|date('d.m.Y') -}}</td>
  <td>{{- burialViewListItem.buriedAt                    is empty ? '' : burialViewListItem.buriedAt|date('d.m.Y H:i') -}}</td>
  <td>{{- burialViewListItem.deceasedAge                 is empty ? '' : burialViewListItem.deceasedAge -}}</td>
  <td>
    {% if burialViewListItem.burialPlaceType == constant('Cemetery\\Registrar\\Domain\\BurialPlace\\GraveSite\\GraveSite::CLASS_SHORTCUT') %}
      {{- burialViewListItem.burialPlaceGraveSiteCemeteryBlockName is empty ? '' : 'квартал '~burialViewListItem.burialPlaceGraveSiteCemeteryBlockName -}}
      {{- burialViewListItem.burialPlaceGraveSiteRowInBlock        is empty ? '' : ', ряд '~burialViewListItem.burialPlaceGraveSiteRowInBlock -}}
      {{- burialViewListItem.burialPlaceGraveSitePositionInRow     is empty ? '' : ', место '~burialViewListItem.burialPlaceGraveSitePositionInRow -}}
    {% elseif burialViewListItem.burialPlaceType == constant('Cemetery\\Registrar\\Domain\\BurialPlace\\ColumbariumNiche\\ColumbariumNiche::CLASS_SHORTCUT') %}
      {{- burialViewListItem.burialPlaceColumbariumNicheColumbariumName  is empty ? '' : 'колумбарий '~burialViewListItem.burialPlaceColumbariumNicheColumbariumName -}}
      {{- burialViewListItem.burialPlaceColumbariumNicheRowInColumbarium is empty ? '' : ', ряд '~burialViewListItem.burialPlaceColumbariumNicheRowInColumbarium -}}
      {{- burialViewListItem.burialPlaceColumbariumNicheNumber           is empty ? '' : ', ниша '~burialViewListItem.burialPlaceColumbariumNicheNumber -}}
    {% elseif burialViewListItem.burialPlaceType == constant('Cemetery\\Registrar\\Domain\\BurialPlace\\MemorialTree\\MemorialTree::CLASS_SHORTCUT') %}
      {{- burialViewListItem.burialPlaceMemorialTreeNumber is empty ? '' : 'сосна '~burialViewListItem.burialPlaceMemorialTreeNumber -}}
    {% endif %}
  </td>
  <td>
    {% if burialViewListItem.customerType == constant('Cemetery\\Registrar\\Domain\\NaturalPerson\\NaturalPerson::CLASS_SHORTCUT') %}
      {{- burialViewListItem.customerNaturalPersonFullName is empty ? '' : burialViewListItem.customerNaturalPersonFullName -}}
    {% elseif burialViewListItem.customerType == constant('Cemetery\\Registrar\\Domain\\Organization\\SoleProprietor\\SoleProprietor::CLASS_SHORTCUT') %}
      {{- burialViewListItem.customerSoleProprietorName is empty ? '' : burialViewListItem.customerSoleProprietorName -}}
    {% elseif burialViewListItem.customerType == constant('Cemetery\\Registrar\\Domain\\Organization\\JuristicPerson\\JuristicPerson::CLASS_SHORTCUT') %}
      {{- burialViewListItem.customerJuristicPersonName is empty ? '' : burialViewListItem.customerJuristicPersonName -}}
    {% endif %}
  </td>
  <td>
    {% if burialViewListItem.customerType == constant('Cemetery\\Registrar\\Domain\\NaturalPerson\\NaturalPerson::CLASS_SHORTCUT') %}
      {{- burialViewListItem.customerNaturalPersonAddress is empty ? '' : burialViewListItem.customerNaturalPersonAddress -}}
    {% elseif burialViewListItem.customerType == constant('Cemetery\\Registrar\\Domain\\Organization\\SoleProprietor\\SoleProprietor::CLASS_SHORTCUT') %}
      {{- burialViewListItem.customerSoleProprietorRegistrationAddress is empty
      ? burialViewListItem.customerSoleProprietorActualLocationAddress is empty ? '' : burialViewListItem.customerSoleProprietorActualLocationAddress
      : burialViewListItem.customerSoleProprietorRegistrationAddress -}}
    {% elseif burialViewListItem.customerType == constant('Cemetery\\Registrar\\Domain\\Organization\\JuristicPerson\\JuristicPerson::CLASS_SHORTCUT') %}
      {{- burialViewListItem.customerJuristicPersonLegalAddress is empty
      ? burialViewListItem.customerJuristicPersonPostalAddress is empty ? '' : burialViewListItem.customerJuristicPersonPostalAddress
      : burialViewListItem.customerJuristicPersonLegalAddress -}}
    {% endif %}
  </td>
  <td>
    {% if burialViewListItem.customerType == constant('Cemetery\\Registrar\\Domain\\NaturalPerson\\NaturalPerson::CLASS_SHORTCUT') %}
      {{- burialViewListItem.customerNaturalPersonPhone is empty ? '' : burialViewListItem.customerNaturalPersonPhone -}}
    {% elseif burialViewListItem.customerType == constant('Cemetery\\Registrar\\Domain\\Organization\\SoleProprietor\\SoleProprietor::CLASS_SHORTCUT') %}
      {{- burialViewListItem.customerSoleProprietorPhone is empty ? '' : burialViewListItem.customerSoleProprietorPhone -}}
    {% elseif burialViewListItem.customerType == constant('Cemetery\\Registrar\\Domain\\Organization\\JuristicPerson\\JuristicPerson::CLASS_SHORTCUT') %}
      {{- burialViewListItem.customerJuristicPersonPhone is empty ? '' : burialViewListItem.customerJuristicPersonPhone -}}
    {% endif %}
  </td>
</tr>
