<tr data-id="{{ listItem.id }}" data-type-shortcut="{{ listItem.typeShortcut }}">
  <td>{{- listItem.name            -}}</td>
  <td>{{- listItem.typeLabel       -}}</td>
  <td>{{- listItem.innKpp          -}}</td>
  <td>{{- listItem.ogrn            -}}</td>
  <td>{{- listItem.okpo            -}}</td>
  <td>{{- listItem.okved           -}}</td>
  <td>{{- listItem.address         -}}</td>
  <td>{{- listItem.bankDetails     -}}</td>
  <td>{{- listItem.phoneFax        -}}</td>
  <td>{{- listItem.generalDirector -}}</td>
  <td>{{- listItem.emailWebsite    -}}</td>
</tr>
