<tr data-id="{{ listItem.id }}" data-type-shortcut="{{ listItem.typeShortcut }}">
    <td>{{- listItem.name      -}}</td>
    <td>{{- listItem.typeLabel -}}</td>
    <td>{{- listItem.innKpp          is empty ? '' : listItem.innKpp -}}</td>
    <td>{{- listItem.ogrn            is empty ? '' : listItem.ogrn -}}</td>
    <td>{{- listItem.okpo            is empty ? '' : listItem.okpo -}}</td>
    <td>{{- listItem.okved           is empty ? '' : listItem.okved -}}</td>
    <td>{{- listItem.address         is empty ? '' : listItem.address -}}</td>
    <td>{{- listItem.bankDetails     is empty ? '' : listItem.bankDetails -}}</td>
    <td>{{- listItem.phoneFax        is empty ? '' : listItem.phoneFax -}}</td>
    <td>{{- listItem.generalDirector is empty ? '' : listItem.generalDirector -}}</td>
    <td>{{- listItem.emailWebsite    is empty ? '' : listItem.emailWebsite -}}</td>
</tr>
