<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon.ico">

    <link href="/css/libs/bootstrap/bootstrap.min.css"                   rel="stylesheet">
    <link href="/css/libs/bootstrap/bootstrap-icons.min.css"             rel="stylesheet">
    <link href="/css/offcanvas.css"                                      rel="stylesheet">
    <link href="/css/style.css"                                          rel="stylesheet">
    <link href="/css/libs/sweetalert2/sweetalert2.min.css"               rel="stylesheet">
    <link href="/css/libs/selectize/standalone/selectize.css"            rel="stylesheet">
    <link href="/css/libs/selectize/standalone/selectize.bootstrap5.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="spinner-container"></div>
    <main class="container-fluid no-select">
      {% block header %}
        {% include '_navbar.html.twig' %}
      {% endblock %}
      {% block body %}{% endblock %}
    </main>
    <div class="modal-container"></div>

    <script src="/js/libs/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/js/libs/jquery/jquery-3.6.0.min.js"></script>
    <script src="/js/offcanvas.js"></script>
    <script src="/js/libs/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="/js/libs/selectize/standalone/selectize.min.js"></script>

    <script src="/js/Spinner.js"></script>
    <script src="/js/Modal.js"></script>
    <script src="/js/Form.js"></script>
    <script src="/js/FormButtons.js"></script>
    <script src="/js/Card.js"></script>
    <script src="/js/CardButtons.js"></script>
    <script src="/js/AppServiceFailureHandler.js"></script>
    <script src="/js/NaturalPersonSelectizer.js"></script>
    <script src="/js/GraveSiteForm.js"></script>
    <script src="/js/GraveSiteCard.js"></script>

    <script>
      const spinner    = new Spinner($(`.spinner-container`));
      window.APP_PROPS = {
        urls: {
          graveSite: {
            create                : `{{ path('admin_grave_site_create') }}`,
            show                  : `{{ path('admin_grave_site_show',                     {'id': '{id}'})|url_decode }}`,
            clarifyLocation       : `{{ path('admin_grave_site_clarify_location',         {'id': '{id}'})|url_decode }}`,
            clarifySize           : `{{ path('admin_grave_site_clarify_size',             {'id': '{id}'})|url_decode }}`,
            clarifyGeoPosition    : `{{ path('admin_grave_site_clarify_geo_position',     {'id': '{id}'})|url_decode }}`,
            {#assignPersonInCharge  : `{{ path('admin_grave_site_assign_person_in_charge',  {'id': '{id}'})|url_decode }}`,#}
            replacePersonInCharge : `{{ path('admin_grave_site_replace_person_in_charge', {'id': '{id}'})|url_decode }}`,
            clearSize             : `{{ path('admin_grave_site_clear_size',               {'id': '{id}'})|url_decode }}`,
            clearGeoPosition      : `{{ path('admin_grave_site_clear_geo_position',       {'id': '{id}'})|url_decode }}`,
            discardPersonInCharge : `{{ path('admin_grave_site_discard_person_in_charge', {'id': '{id}'})|url_decode }}`,
            remove                : `{{ path('admin_grave_site_remove',                   {'id': '{id}'})|url_decode }}`,
            naturalPersonListAlive: `{{ path('natural_person_list_alive',                 {'search': '{search}'})|url_decode }}`,
          },
        },
        csrfTokens: {
          graveSite: `{{ csrf_token('grave_site') }}`,
        },
        cemeteryBlockList: [
          {% for listItem in cemeteryBlockList.items %}
          { id: `{{ listItem.id }}`, name: `{{ listItem.name }}` },
          {% endfor %}
        ],
        swalOptions: {
          toast            : true,
          position         : `top-end`,
          showConfirmButton: false,
          timer            : 5000,
          timerProgressBar : true,
          didOpen          : (toast) => {
            toast.addEventListener(`mouseenter`, Swal.stopTimer)
            toast.addEventListener(`mouseleave`, Swal.resumeTimer)
          },
        },
      };
    </script>

    {% block javascripts %}{% endblock %}
  </body>
</html>
