<div class="row">
  <div class="col-6 row">
    <div class="col-md-3"><label for="{{- context -}}PassportSeries" class="form-label">Серия</label></div>
    <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}PassportSeries" name="{{- context -}}PassportSeries"></div>
  </div>
  <div class="col-6 row">
    <div class="col-md-3"><label for="{{- context -}}PassportNumber" class="form-label">Номер</label></div>
    <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}PassportNumber" name="{{- context -}}PassportNumber"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="{{- context -}}PassportIssuedAt" class="form-label">Дата выдачи</label></div>
  <div class="col-md-9"><input type="date" class="form-control form-control-sm" id="{{- context -}}PassportIssuedAt" name="{{- context -}}PassportIssuedAt"></div>
</div>
<div class="row">
  <div class="col-md-3"><label for="{{- context -}}PassportIssuedBy" class="form-label">Кем выдан</label></div>
  <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}PassportIssuedBy" name="{{- context -}}PassportIssuedBy"></div>
</div>
<div class="row">
  <div class="col-md-3"><label for="{{- context -}}PassportDivisionCode" class="form-label">Код подразделения</label></div>
  <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}PassportDivisionCode" name="{{- context -}}PassportDivisionCode"></div>
</div>
