<div class="row">
  <div class="col-6 row">
    <div class="col-md-3"><label for="{{- context -}}NaturalPersonPassportSeries" class="form-label">Серия</label></div>
    <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}NaturalPersonPassportSeries" name="{{- context -}}NaturalPersonPassportSeries"></div>
  </div>
  <div class="col-6 row">
    <div class="col-md-3"><label for="{{- context -}}NaturalPersonPassportNumber" class="form-label">Номер</label></div>
    <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}NaturalPersonPassportNumber" name="{{- context -}}NaturalPersonPassportNumber"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="{{- context -}}NaturalPersonPassportIssuedAt" class="form-label">Дата выдачи</label></div>
  <div class="col-md-9"><input type="date" class="form-control form-control-sm" id="{{- context -}}NaturalPersonPassportIssuedAt" name="{{- context -}}NaturalPersonPassportIssuedAt"></div>
</div>
<div class="row">
  <div class="col-md-3"><label for="{{- context -}}NaturalPersonPassportIssuedBy" class="form-label">Кем выдан</label></div>
  <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}NaturalPersonPassportIssuedBy" name="{{- context -}}NaturalPersonPassportIssuedBy"></div>
</div>
<div class="row">
  <div class="col-md-3"><label for="{{- context -}}NaturalPersonPassportDivisionCode" class="form-label">Код подразделения</label></div>
  <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}NaturalPersonPassportDivisionCode" name="{{- context -}}NaturalPersonPassportDivisionCode"></div>
</div>
