{% extends '_modal.html.twig' %}

{% block modalbody %}
  <div
      class="card border border-0"
      data-action-show="{{ path('admin_grave_site_show', {'id': '{id}'})|url_decode }}"
      data-action-clear-size="{{ path('admin_grave_site_clear_size', {'id': '{id}'})|url_decode }}"
      data-action-clear-geo-position="{{ path('admin_grave_site_clear_geo_position', {'id': '{id}'})|url_decode }}"
      data-action-discard-person-in-charge="{{ path('admin_grave_site_discard_person_in_charge', {'id': '{id}'})|url_decode }}"
      data-action-remove="{{ path('admin_grave_site_remove', {'id': '{id}'})|url_decode }}">
    <div class="card-body">
      <div class="row pb-2">
        <div class="col-sm-3 px-0"><strong>Расположение:</strong></div>
        <div class="col-sm-9 px-0"><p class="js-location"></p></div>
      </div>
      <div class="row pb-2">
        <div class="col-sm-3 px-0"><strong>Размер:</strong></div>
        <div class="col-sm-9 px-0"><p class="js-size"></p></div>
      </div>
      <div class="row pb-2">
        <div class="col-sm-3 px-0"><strong>Геопозиция:</strong></div>
        <div class="col-sm-9 px-0"><p class="js-geo-position"></p></div>
      </div>
      <div class="row pb-2">
        <div class="col-sm-3 px-0"><strong>Ответственный:</strong></div>
        <div class="col-sm-9 px-0">
          <p class="position-relative">
            <span class="js-person-in-charge"></span>&nbsp;
            <button type="button"
                    class="position-absolute bottom-0 btn btn-outline-secondary btn-sm ms-1 js-person-in-charge-card-btn d-none"
                    title="Открыть карточку">
              <i class="bi-person-lines-fill"></i>
            </button>
          </p>
        </div>
      </div>
    </div>
    <input type="hidden" id="token" name="token" value="{{ csrf_token('grave_site') }}">
    {% include '_card_buttons.html.twig' %}
    {% include '_card_footer.html.twig' %}
  </div>
{% endblock %}

{% set actionlist %}
  <li class="dropdown-item js-clarify-location">Уточнить расположение</li>
  <li class="dropdown-item js-clarify-size">Уточнить размер</li>
  <li class="dropdown-item js-clarify-geo-position">Уточнить геопозицию</li>
  <li class="dropdown-item js-assign-person-in-charge">Назначить ответственного</li>
  <li class="dropdown-item js-clarify-person-in-charge">Уточнить данные ответственного</li>
  <li class="dropdown-item js-replace-person-in-charge">Заменить ответственного</li>
  <li class="js-danger-action-divider"><hr class="dropdown-divider"></li>
  <li class="dropdown-item text-danger js-danger-action-btn js-clear-size">Очистить размер</li>
  <li class="dropdown-item text-danger js-danger-action-btn js-clear-geo-position">Очистить геопозицию</li>
  <li class="dropdown-item text-danger js-danger-action-btn js-discard-person-in-charge">Удалить ответственного</li>
{% endset %}
