<tr data-id="{{ listItem.id }}">
  <td>{{- listItem.cemeteryBlockName -}}</td>
  <td>{{- listItem.rowInBlock -}}</td>
  <td>{{- listItem.positionInRow -}}</td>
  <td>{{- listItem.size -}}</td>
  <td>{{- listItem.personInChargeFullName -}}</td>
</tr>
