{% extends 'base.html.twig' %}

{% block title %}Админка - Участки на кладбище{% endblock %}

{% block body %}
  {{ parent() }}

  <div class="row">
    <div class="col-md-3 border-end pe-5">
      <p class="pt-2 fs-5 fw-bold text-success">Кварталы <span class="text-muted fw-normal fs-6">({{ cemeteryBlockTotalCount }})</span></p>

      {% include 'admin/burial_place/grave_site/_toolbar_cemetery_block.html.twig' %}

      <div class="table-responsive">
        <table class="table table-sm table-hover caption-top" id="cemeteryBlockList">
          <thead class="table-light align-middle">
            <tr>
              <th>Наименование</th>
            </tr>
          </thead>
          <tbody>
          {% for listItem in cemeteryBlockList.items %}
            {% include 'admin/burial_place/grave_site/_list_item_cemetery_block.html.twig' %}
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-9">
      <div class="mb-2 mb-lg-2">
        <p class="pt-2 fs-5 fw-bold text-success">Участки <span class="text-muted fw-normal fs-6">({{ totalCount }})</span></p>

        {% include 'admin/burial_place/grave_site/_toolbar_grave_site.html.twig' %}

        <div class="table-responsive">
          <table class="table table-sm table-hover caption-top" id="graveSiteList">
            <thead class="table-light align-middle">
              <tr>
                <th>Квартал</th>
                <th>Ряд</th>
                <th>Место</th>
                <th>Размер, м<sup>2</sup></th>
                <th>Ответственный</th>
              </tr>
            </thead>
            <tbody>
            {% for listItem in list.items %}
              {% include 'admin/burial_place/grave_site/_list_item_grave_site.html.twig' %}
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% include 'admin/burial_place/grave_site/_form_new_cemetery_block.html.twig' with {'context': 'CemeteryBlockFormNew'} %}
  {% include 'admin/burial_place/grave_site/_form_new_grave_site.html.twig' with {'context': 'GraveSiteFormNew'} %}
  <div class="grave-site-modal-container"></div>

  {% include 'admin/burial_place/grave_site/_form_grave_site_location_clarify.html.twig' with {'context': 'GraveSiteFormClarifyLocation'} %}
  {% include 'admin/burial_place/grave_site/_form_grave_site_size_clarify.html.twig' with {'context': 'GraveSiteFormClarifySize'} %}
  {% include 'admin/burial_place/grave_site/_form_grave_site_geo_position_clarify.html.twig' with {'context': 'GraveSiteFormClarifyGeoPosition'} %}
  {% include 'admin/burial_place/grave_site/_form_grave_site_person_in_charge_replace.html.twig' with {'context': 'GraveSiteFormReplacePersonInCharge'} %}

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="/js/admin/burial-place/grave-site/GraveSiteForm.js"></script>
  <script src="/js/admin/burial-place/grave-site/GraveSiteCard.js"></script>

  <script>
    window.GRAVE_SITE_PROPS = {
      urls: {
        create                : `{{ path('admin_grave_site_create',                   {'id': '{id}'})|url_decode }}`,
        show                  : `{{ path('admin_grave_site_show',                     {'id': '{id}'})|url_decode }}`,
        clarifyLocation       : `{{ path('admin_grave_site_clarify_location',         {'id': '{id}'})|url_decode }}`,
        clarifySize           : `{{ path('admin_grave_site_clarify_size',             {'id': '{id}'})|url_decode }}`,
        clarifyGeoPosition    : `{{ path('admin_grave_site_clarify_geo_position',     {'id': '{id}'})|url_decode }}`,
        {#assignPersonInCharge  : `{{ path('admin_grave_site_assign_person_in_charge',  {'id': '{id}'})|url_decode }}`,#}
        replacePersonInCharge : `{{ path('admin_grave_site_replace_person_in_charge', {'id': '{id}'})|url_decode }}`,
        clearSize             : `{{ path('admin_grave_site_clear_size',               {'id': '{id}'})|url_decode }}`,
        clearGeoPosition      : `{{ path('admin_grave_site_clear_geo_position',       {'id': '{id}'})|url_decode }}`,
        discardPersonInCharge : `{{ path('admin_grave_site_discard_person_in_charge', {'id': '{id}'})|url_decode }}`,
        remove                : `{{ path('admin_grave_site_remove',                   {'id': '{id}'})|url_decode }}`,
        naturalPersonListAlive: `{{ path('natural_person_list_alive',                 {'search': '{search}'})|url_decode }}`,
      },
      csrfToken  : `{{ csrf_token('grave_site') }}`,
      swalOptions: swalOptions,
    };
  </script>

  <script src="/js/admin/burial-place/grave-site/grave-site-paginated-list.js"></script>


{#  <script src="/js/admin/burial-place/grave-site/cemetery-block.js"></script>#}
{#  <script src="/js/admin/burial-place/grave-site/grave-site-form-new.js"></script>#}
{#  <script src="/js/admin/burial-place/grave-site/grave-site-card.js"></script>#}
{#  <script src="/js/admin/burial-place/grave-site/grave-site-form-clarify-location.js"></script>#}
{#  <script src="/js/admin/burial-place/grave-site/grave-site-form-clarify-size.js"></script>#}
{#  <script src="/js/admin/burial-place/grave-site/grave-site-form-clarify-geo-position.js"></script>#}
{#  <script src="/js/admin/burial-place/grave-site/grave-site-form-replace-person-in-charge.js"></script>#}


{% endblock %}
