<div class="row pb-3">
  <div class="col-12"
       id="customerTypeSelectorWrapper"
       data-natural-person-value="{{- constant('Cemetery\\Registrar\\Domain\\Model\\NaturalPerson\\NaturalPerson::CLASS_SHORTCUT') -}}"
       data-juristic-person-value="{{- constant('Cemetery\\Registrar\\Domain\\Model\\Organization\\JuristicPerson\\JuristicPerson::CLASS_SHORTCUT') -}}"
       data-sole-proprietor-value="{{- constant('Cemetery\\Registrar\\Domain\\Model\\Organization\\SoleProprietor\\SoleProprietor::CLASS_SHORTCUT') -}}">
    <div class="form-check form-check-inline">
      <input id="customerTypeNaturalPerson"
             type="radio"
             class="form-check-input"
             name="customerType"
             value="{{- constant('Cemetery\\Registrar\\Domain\\Model\\NaturalPerson\\NaturalPerson::CLASS_SHORTCUT') -}}">
      <label class="form-check-label"
             for="customerTypeNaturalPerson">
        {{- constant('Cemetery\\Registrar\\Domain\\Model\\NaturalPerson\\NaturalPerson::CLASS_LABEL')|ucfirst -}}
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input id="customerTypeJuristicPerson"
             type="radio"
             class="form-check-input"
             name="customerType"
             value="{{- constant('Cemetery\\Registrar\\Domain\\Model\\Organization\\JuristicPerson\\JuristicPerson::CLASS_SHORTCUT') -}}">
      <label class="form-check-label"
             for="customerTypeJuristicPerson">
        {{- constant('Cemetery\\Registrar\\Domain\\Model\\Organization\\JuristicPerson\\JuristicPerson::CLASS_LABEL')|ucfirst -}}
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input id="customerTypeSoleProprietor"
             type="radio"
             class="form-check-input"
             name="customerType"
             value="{{- constant('Cemetery\\Registrar\\Domain\\Model\\Organization\\SoleProprietor\\SoleProprietor::CLASS_SHORTCUT') -}}">
      <label class="form-check-label"
             for="customerTypeSoleProprietor">
        {{- constant('Cemetery\\Registrar\\Domain\\Model\\Organization\\SoleProprietor\\SoleProprietor::CLASS_LABEL')|ucfirst -}}
      </label>
    </div>
  </div>
</div>
