<tr data-id="{{ listItem.id }}">
  <td>{{- listItem.deceasedNaturalPersonFullName -}}</td>
  <td class="text-end">
    {{- listItem.code -}}
  </td>
  <td>{{- listItem.deceasedNaturalPersonBornAt is empty ? '' : listItem.deceasedNaturalPersonBornAt|date('d.m.Y') -}}</td>
  <td>{{- listItem.deceasedDiedAt              is empty ? '' : listItem.deceasedDiedAt|date('d.m.Y') -}}</td>
  <td>{{- listItem.buriedAt                    is empty ? '' : listItem.buriedAt|date('d.m.Y H:i') -}}</td>
  <td>{{- listItem.deceasedAge                 is empty ? '' : listItem.deceasedAge -}}</td>
  <td>
    {% if listItem.burialPlaceType == constant('Cemetery\\Registrar\\Domain\\Model\\BurialPlace\\GraveSite\\GraveSite::CLASS_SHORTCUT') %}
      {{- listItem.burialPlaceGraveSiteCemeteryBlockName is empty ? '' : 'квартал '~listItem.burialPlaceGraveSiteCemeteryBlockName -}}
      {{- listItem.burialPlaceGraveSiteRowInBlock        is empty ? '' : ', ряд '~listItem.burialPlaceGraveSiteRowInBlock -}}
      {{- listItem.burialPlaceGraveSitePositionInRow     is empty ? '' : ', место '~listItem.burialPlaceGraveSitePositionInRow -}}
    {% elseif listItem.burialPlaceType == constant('Cemetery\\Registrar\\Domain\\Model\\BurialPlace\\ColumbariumNiche\\ColumbariumNiche::CLASS_SHORTCUT') %}
      {{- listItem.burialPlaceColumbariumNicheColumbariumName  is empty ? '' : 'колумбарий '~listItem.burialPlaceColumbariumNicheColumbariumName -}}
      {{- listItem.burialPlaceColumbariumNicheRowInColumbarium is empty ? '' : ', ряд '~listItem.burialPlaceColumbariumNicheRowInColumbarium -}}
      {{- listItem.burialPlaceColumbariumNicheNumber           is empty ? '' : ', ниша '~listItem.burialPlaceColumbariumNicheNumber -}}
    {% elseif listItem.burialPlaceType == constant('Cemetery\\Registrar\\Domain\\Model\\BurialPlace\\MemorialTree\\MemorialTree::CLASS_SHORTCUT') %}
      {{- listItem.burialPlaceMemorialTreeNumber is empty ? '' : 'сосна '~listItem.burialPlaceMemorialTreeNumber -}}
    {% endif %}
  </td>
  <td>
    {% if listItem.customerType == constant('Cemetery\\Registrar\\Domain\\Model\\NaturalPerson\\NaturalPerson::CLASS_SHORTCUT') %}
      {{- listItem.customerNaturalPersonFullName is empty ? '' : listItem.customerNaturalPersonFullName -}}
    {% elseif listItem.customerType == constant('Cemetery\\Registrar\\Domain\\Model\\Organization\\SoleProprietor\\SoleProprietor::CLASS_SHORTCUT') %}
      {{- listItem.customerSoleProprietorName is empty ? '' : listItem.customerSoleProprietorName -}}
    {% elseif listItem.customerType == constant('Cemetery\\Registrar\\Domain\\Model\\Organization\\JuristicPerson\\JuristicPerson::CLASS_SHORTCUT') %}
      {{- listItem.customerJuristicPersonName is empty ? '' : listItem.customerJuristicPersonName -}}
    {% endif %}
  </td>
  <td>
    {% if listItem.customerType == constant('Cemetery\\Registrar\\Domain\\Model\\NaturalPerson\\NaturalPerson::CLASS_SHORTCUT') %}
      {{- listItem.customerNaturalPersonAddress is empty ? '' : listItem.customerNaturalPersonAddress -}}
    {% elseif listItem.customerType == constant('Cemetery\\Registrar\\Domain\\Model\\Organization\\SoleProprietor\\SoleProprietor::CLASS_SHORTCUT') %}
      {{- listItem.customerSoleProprietorRegistrationAddress is empty
        ? listItem.customerSoleProprietorActualLocationAddress is empty ? '' : listItem.customerSoleProprietorActualLocationAddress
        : listItem.customerSoleProprietorRegistrationAddress -}}
    {% elseif listItem.customerType == constant('Cemetery\\Registrar\\Domain\\Model\\Organization\\JuristicPerson\\JuristicPerson::CLASS_SHORTCUT') %}
      {{- listItem.customerJuristicPersonLegalAddress is empty
        ? listItem.customerJuristicPersonPostalAddress is empty ? '' : listItem.customerJuristicPersonPostalAddress
        : listItem.customerJuristicPersonLegalAddress -}}
    {% endif %}
  </td>
  <td>
    {% if listItem.customerType == constant('Cemetery\\Registrar\\Domain\\Model\\NaturalPerson\\NaturalPerson::CLASS_SHORTCUT') %}
      {{- listItem.customerNaturalPersonPhone is empty ? '' : listItem.customerNaturalPersonPhone -}}
    {% elseif listItem.customerType == constant('Cemetery\\Registrar\\Domain\\Model\\Organization\\SoleProprietor\\SoleProprietor::CLASS_SHORTCUT') %}
      {{- listItem.customerSoleProprietorPhone is empty ? '' : listItem.customerSoleProprietorPhone -}}
    {% elseif listItem.customerType == constant('Cemetery\\Registrar\\Domain\\Model\\Organization\\JuristicPerson\\JuristicPerson::CLASS_SHORTCUT') %}
      {{- listItem.customerJuristicPersonPhone is empty ? '' : listItem.customerJuristicPersonPhone -}}
    {% endif %}
  </td>
</tr>
