<tr data-id="{{ listItem.id }}">
  <td>{{- listItem.fullName -}}</td>
  <td>{{- listItem.address              -}}</td>
  <td>{{- listItem.phone                -}}</td>
  <td>{{- listItem.email                -}}</td>
  <td>{{- listItem.bornAt               -}}</td>
  <td>{{- listItem.placeOfBirth         -}}</td>
  <td>{{- listItem.passport             -}}</td>
  <td>{{- listItem.diedAt               -}}</td>
  <td>{{- listItem.age                  -}}</td>
  <td>{{- listItem.causeOfDeathName     -}}</td>
  <td>{{- listItem.deathCertificate     -}}</td>
  <td>{{- listItem.cremationCertificate -}}</td>
</tr>
