<div class="js-sole-proprietor-subform d-none">
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}Name" class="form-label">Наименование</label></div>
    <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}Name" name="{{- context -}}Name"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}Inn" class="form-label">ИНН</label></div>
    <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}Inn" name="{{- context -}}Inn"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}Ogrnip" class="form-label">ОГРНИП</label></div>
    <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}Ogrnip" name="{{- context -}}Ogrnip"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}Okpo" class="form-label">ОКПО</label></div>
    <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}Okpo" name="{{- context -}}Okpo"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}Okved" class="form-label">ОКВЭД</label></div>
    <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}Okved" name="{{- context -}}Okved"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}RegistrationAddress" class="form-label">Адрес регистрации</label></div>
    <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}RegistrationAddress" name="{{- context -}}RegistrationAddress"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}ActualLocationAddress" class="form-label">Фактический адрес</label></div>
    <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}ActualLocationAddress" name="{{- context -}}ActualLocationAddress"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}Phone" class="form-label">Телефон</label></div>
    <div class="col-md-9"><input type="tel" class="form-control form-control-sm" id="{{- context -}}Phone" name="{{- context -}}Phone"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}PhoneAdditional" class="form-label"></label>Телефон доп.</div>
    <div class="col-md-9"><input type="tel" class="form-control form-control-sm" id="{{- context -}}PhoneAdditional" name="{{- context -}}PhoneAdditional"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}Fax" class="form-label">Факс</label></div>
    <div class="col-md-9"><input type="tel" class="form-control form-control-sm" id="{{- context -}}Fax" name="{{- context -}}Fax"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}Email" class="form-label">Электронная почта</label></div>
    <div class="col-md-9"><input type="email" class="form-control form-control-sm" id="{{- context -}}Email" name="{{- context -}}Email"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}Website" class="form-label">Веб-сайт</label></div>
    <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}Website" name="{{- context -}}Website"></div>
  </div>
  <p class="mt-1 mb-1">
    <a class="fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#{{- context -}}BankDetails" aria-expanded="false" aria-controls="{{- context -}}BankDetails">
      Банковские реквизиты
    </a>
  </p>
  <div class="collapse" id="{{- context -}}BankDetails">
    {% include 'organization/_bank_details_subform.html.twig' with {'context': context} %}
  </div>
</div>
