<div class="js-sole-proprietor-subform d-none">
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}SoleProprietorName" class="form-label">Наименование</label></div>
    <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}SoleProprietorName" name="{{- context -}}SoleProprietorName"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}SoleProprietorInn" class="form-label">ИНН</label></div>
    <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}SoleProprietorInn" name="{{- context -}}SoleProprietorInn"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}SoleProprietorOgrnip" class="form-label">ОГРНИП</label></div>
    <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}SoleProprietorOgrnip" name="{{- context -}}SoleProprietorOgrnip"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}SoleProprietorOkpo" class="form-label">ОКПО</label></div>
    <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}SoleProprietorOkpo" name="{{- context -}}SoleProprietorOkpo"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}SoleProprietorOkved" class="form-label">ОКВЭД</label></div>
    <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}SoleProprietorOkved" name="{{- context -}}SoleProprietorOkved"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}SoleProprietorRegistrationAddress" class="form-label">Адрес регистрации</label></div>
    <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}SoleProprietorRegistrationAddress" name="{{- context -}}SoleProprietorRegistrationAddress"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}SoleProprietorActualLocationAddress" class="form-label">Фактический адрес</label></div>
    <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}SoleProprietorActualLocationAddress" name="{{- context -}}SoleProprietorActualLocationAddress"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}SoleProprietorPhone" class="form-label">Телефон</label></div>
    <div class="col-md-9"><input type="tel" class="form-control form-control-sm" id="{{- context -}}SoleProprietorPhone" name="{{- context -}}SoleProprietorPhone"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}SoleProprietorPhoneAdditional" class="form-label"></label>Телефон доп.</div>
    <div class="col-md-9"><input type="tel" class="form-control form-control-sm" id="{{- context -}}SoleProprietorPhoneAdditional" name="{{- context -}}SoleProprietorPhoneAdditional"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}SoleProprietorFax" class="form-label">Факс</label></div>
    <div class="col-md-9"><input type="tel" class="form-control form-control-sm" id="{{- context -}}SoleProprietorFax" name="{{- context -}}SoleProprietorFax"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}SoleProprietorEmail" class="form-label">Электронная почта</label></div>
    <div class="col-md-9"><input type="email" class="form-control form-control-sm" id="{{- context -}}SoleProprietorEmail" name="{{- context -}}SoleProprietorEmail"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}SoleProprietorWebsite" class="form-label">Веб-сайт</label></div>
    <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="{{- context -}}SoleProprietorWebsite" name="{{- context -}}SoleProprietorWebsite"></div>
  </div>
  <p class="mt-1 mb-0">
    <a class="fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#{{- context -}}SoleProprietorBankDetails" aria-expanded="false" aria-controls="{{- context -}}SoleProprietorBankDetails">
      Банковские реквизиты
    </a>
  </p>
  <div class="collapse" id="{{- context -}}SoleProprietorBankDetails">
    {% include 'organization/bank_details/_bank_details_subform.html.twig' with {
      'context'         : context,
      'organizationType': 'soleProprietor'
    } %}
  </div>
</div>
