<div class="js-sole-proprietor-subform d-none">
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}SoleProprietorName" class="form-label">Наименование</label></div>
    <div class="col-md-9"><input type="text" class="form-control" id="{{- context -}}SoleProprietorName" name="{{- context -}}SoleProprietorName"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}SoleProprietorInn" class="form-label">ИНН</label></div>
    <div class="col-md-9"><input type="text" class="form-control" id="{{- context -}}SoleProprietorInn" name="{{- context -}}SoleProprietorInn"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}SoleProprietorOgrnip" class="form-label">ОГРНИП</label></div>
    <div class="col-md-9"><input type="text" class="form-control" id="{{- context -}}SoleProprietorOgrnip" name="{{- context -}}SoleProprietorOgrnip"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}SoleProprietorOkpo" class="form-label">ОКПО</label></div>
    <div class="col-md-9"><input type="text" class="form-control" id="{{- context -}}SoleProprietorOkpo" name="{{- context -}}SoleProprietorOkpo"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}SoleProprietorOkved" class="form-label">ОКВЭД</label></div>
    <div class="col-md-9"><input type="text" class="form-control" id="{{- context -}}SoleProprietorOkved" name="{{- context -}}SoleProprietorOkved"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}SoleProprietorRegistrationAddress" class="form-label">Адрес регистрации</label></div>
    <div class="col-md-9"><input type="text" class="form-control" id="{{- context -}}SoleProprietorRegistrationAddress" name="{{- context -}}SoleProprietorRegistrationAddress"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}SoleProprietorActualLocationAddress" class="form-label">Фактический адрес</label></div>
    <div class="col-md-9"><input type="text" class="form-control" id="{{- context -}}SoleProprietorActualLocationAddress" name="{{- context -}}SoleProprietorActualLocationAddress"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}SoleProprietorPhone" class="form-label">Телефон</label></div>
    <div class="col-md-9"><input type="tel" class="form-control" id="{{- context -}}SoleProprietorPhone" name="{{- context -}}SoleProprietorPhone"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}SoleProprietorPhoneAdditional" class="form-label"></label>Телефон доп.</div>
    <div class="col-md-9"><input type="tel" class="form-control" id="{{- context -}}SoleProprietorPhoneAdditional" name="{{- context -}}SoleProprietorPhoneAdditional"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}SoleProprietorFax" class="form-label">Факс</label></div>
    <div class="col-md-9"><input type="tel" class="form-control" id="{{- context -}}SoleProprietorFax" name="{{- context -}}SoleProprietorFax"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}SoleProprietorEmail" class="form-label">Электронная почта</label></div>
    <div class="col-md-9"><input type="email" class="form-control" id="{{- context -}}SoleProprietorEmail" name="{{- context -}}SoleProprietorEmail"></div>
  </div>
  <div class="row">
    <div class="col-md-3"><label for="{{- context -}}SoleProprietorWebsite" class="form-label">Веб-сайт</label></div>
    <div class="col-md-9"><input type="text" class="form-control" id="{{- context -}}SoleProprietorWebsite" name="{{- context -}}SoleProprietorWebsite"></div>
  </div>
  <div class="card-body">
    <h5 class="card-title text-success">Банковские реквизиты</h5>
    {% include 'organization/bank_details/_bank_details_subform.html.twig' with {'organizationType': 'soleProprietor'} %}
  </div>
</div>
