<tr data-id="{{ listItem.id }}">
  <td>{{- listItem.columbariumName -}}</td>
  <td>{{- listItem.rowInColumbarium -}}</td>
  <td>{{- listItem.nicheNumber -}}</td>
  <td data-id="{{- listItem.personInChargeId -}}">{{- listItem.personInChargeFullName -}}</td>
</tr>
